doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//yandex.st/dojo/1.9.1/dojo/dojo.js')
    link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dojo/resources/dojo.css")
    link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dijit/themes/claro/claro.css")
  body(class="claro")
    block content